.container {
    -fx-padding: 10;
    -fx-background-color: transparent;
}

.section-container {
    -fx-padding: 10px;
}

.subheader {
    -fx-font: 16px Inter;
    -fx-text-fill: -fx-fill-secondary;
}
.copy {
    -fx-font: 10px Inter;
    -fx-font-weight: lighter;
    -fx-padding: 0 0 0 10;
    -fx-text-fill: -fx-fill-quaternary;
}
.icon {
    -fx-cursor: hand;
}
.copy:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.value {
    -fx-text-fill: -fx-fill-secondary;
}
.value:hover {
    -fx-cursor: text;
}

.value-container {
    -fx-alignment: center-left;
    -fx-padding: 5;
}
